<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>FireWatch</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https:w//fonts.googleapis.com/css?family=Pontano+Sans" rel="stylesheet">
  </head>
  <body class="base">
      <div class="top">
          <h1>🔥FIREWATCH</h1>
          <div class="nav">
              <a href="#">ABOUT</a>
              <a href ="#">GITHUB</a>
          </div>
      <div>
    <div class="map">

    </div>
  </body>
</html>
