<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>FireWatch</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/style.css">
    <link href="https:w//fonts.googleapis.com/css?family=Pontano+Sans" rel="stylesheet">
    <link rel= "stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
  </head>
  <body class="base">
      <div class="top">
          <h1><img class="mascot" src="../static/styles/mascot.png"> FIREWATCH</h1>
              <a href="#">ABOUT</a>
              <a href ="#">GITHUB</a>
      </div>
    <div class="map">

    </div>
  </body>
</html>
