html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
body {
    overflow: hidden;
    font-family: "Pontano Sans", sans-serif;
    background-image: url("background.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 150%;
    overflow-y: scroll;
    padding-right: 17px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding-left: 50%;
  padding-bottom: 10%;
  border: 1px solid #888;
  width: 80%;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  padding-top: 25%;
  margin-top: 20%;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.base {
    color: white;
    background-size: cover;
    height: 200%;
}
.top {
    padding-top: 5%;
}
.base h1 {
    letter-spacing: 10px;
    padding-left: 15%;
    padding-right: 15%;
    display: inline;
}

a {
    letter-spacing: 3px;
    padding-right: 0%;
    text-align: right;
    text-decoration: none;
    color: white;
    display: inline;
    font-size: 70%;
}
p {
    margin: 0 auto;
    width: 90%;
    color: black;
    font-family: "Pontano Sans", sans-serif;
    padding-bottom: 3%;
}
.mascot {
    width: 1.8em;
    display: inline;
    padding-right: 0.5em;
}
.mapbox {
    height: 130%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin: 0 auto;
    background: white;
    width: 70%;
    margin-top: 5%;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#gmap {
    z-index: 5;
    margin: 0 auto;
    text-align: center;
    width: 90%;
}
#loginbtn {
    margin: 0;
}
#map {
  width: 90%;
  z-index: 5;
  margin: 0 auto;
  text-align: center;
  height: 100%;
}

#results {
    padding-top: 30px;
    width: 70%;
    margin: 0 auto;
    height: auto;
}
